/* CSS VARIABLES */
:root {
  --background-primary: #f3f3f3;
  --background-secondary: #cdddda;
  --text: #1f2403;
}

/* ZÁKLADNÍ STYLY */
*,
body,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;color: var(--text);
  font-family: 'Alegreya Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* BODY A FONTY */
body {
  color: var(--text); /* nastavuje barvu textu */
  font-family: 'Alegreya Sans', sans-serif; /* hlavní font */
}

/* NAVIGACE */
nav {
  display: flex;
  align-items: baseline;
}

ul {
  list-style-type: none;
}

li {
  line-height: 1.3;
}

span {
  line-height: 1.5;
}

/* HLAVIČKA - NAVIGACE */
.page-header {
  padding: 1.5rem;
  padding-bottom: 0;
  background-color: var(--background-secondary)
}

.logo {
  font-size: 1.5rem;
  font-family: 'Dawning of a New Day', cursive; /* font loga */
}

.navlink {
  text-decoration: none;
  margin-right: 0.5rem;
  color: var(--text); /* odkaz barva textu */
}

/* KONKRÉTNÍ ODKAZY NA CENÍK A KONTAKT */
.navlink[href="#pricelist"],
.navlink[href="#contact"] {
  color: var(--text);
}

/* HLAVNÍ NADPIS */
.pitch {
  padding: 2.5rem 1.5rem;
  font-size: 2.5rem;
  font-family: 'Lora', serif; /* font hlavního nadpisu */
  text-align: center; /* vycentrování textu */
  font-family: 'Lora', serif;
  text-align: center;
  background-color: var(--background-secondary)
}

/* ÚVODNÍ TEXT */
.subheading {
  padding: 2.5rem 1.5rem;
  font-size: 1.5rem;
  background-color: var(--background-primary);
}

.subheading__content {
  margin: 0 auto;
   max-width: 800px;
  text-align: center;
}

/* CENOVÁ NABÍDKA */
.pricelist {
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-secondary)
}

.pricelist__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.pricelist__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   flex-direction: row;
    gap: 3rem;
}

.offer {
  margin: 1rem 0 2rem 0;
  width: 80%;
  max-width: 270px;
  width: 220px;
}


.offer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.offer__title {
  font-size: 1.7rem;
}

.offer__price {
  font-size: 1.5rem;
}

.offer__detail {
  font-size: 1.2rem;
  list-style: circle;
  margin-left: 1.2rem;
}

/* RECENZE */
.review {
  padding: 3.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-primary);
}

.review__title {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.review__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review__text {
  padding: 2rem;
  font-size: 1.3rem;
   font-style: oblique;
  border: 2px solid var(--background-secondary);
  position: relative;
   border: none; /* zrušení rámečku */
    background-color: var(--background-secondary);
    width: 250px;
    padding: 1.5rem;
    margin-left: 60px;
}
 .review__photo {
    background-image: url('images/reviewer.jpg');
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

.review__author {
  text-align: end;
  font-style: normal;
}

/* PATIČKA - KONTAKT */
.footer {
  padding: 2.5rem 1.5rem;
  font-size: 1.2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-secondary);
   flex-direction: row;
    justify-content: center;
    gap: 3rem;
     gap: 6rem;
}

.contact__row span {
  display: inline-block;
  height: 1.2rem;
}

.contact__label {
  width: 70px;
}

.social-media__row {
  display: flex;
  align-items: center;
}

.icon {
  height: 100%;
  margin-right: 0.5rem;
}

/* SEM ZAČNĚTE PSÁT SVÉ STYLY PRO MOBIL */

/* STYLY PRO ŠÍŘKU NAD 840PX */
@media (min-width: 840px) {
  /* HLAVIČKA - NAVIGACE */
  .page-header {
    padding: 2rem 4rem;
    padding-bottom: 0;
    display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .logo {
    font-size: 2.25rem;font-family: 'Dawning of a New Day', cursive;
  }

  .navlink {
    font-size: 1.5rem;
  }

  /* HLAVNÍ NADPIS */
  .pitch {
    font-size: 3rem;
  }

  /* ÚVODNÍ TEXT */
  .subheading {
    padding: 2.5rem 4rem;
    font-size: 1.75rem;
  }

  /* RECENZE */
  .review__text {
    width: 250px;
    padding: 1.5rem;
  }
.intro-image {
  background-image: url('images/arnica-intro.jpg');
  height: 70vh; 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
  /* TADY PIŠTE STYLY PRO ŠÍŘKU NAD 800PX */
@media (min-width: 1200px) {
  .pricelist__content {
    gap: 6rem;
  }


